<h1>Loja in <%= @shopping.nome %></h1>

<p>
  <b>Loja name:</b>
  <%= @loja.nome %>
</p>


<%= link_to 'Edit', edit_shopping_loja_path(@shopping, @item) %> |
<%= link_to 'Back', shopping_lojas_path(@shopping) %>
