<section>
   <div class="row">
    <div class="twelve columns"> 
      <div class="underline"><span class="text"><h1>Editar Registo</h1></span></div>      
    </div>
   </div>

  <%= render 'form' %>

</section>
