<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><span class="text"><h1>Gestão</h1></span></div> 
            
		 	</div>
		 </div>
   


<% if @user.tipo == nil %>
Aqui: <% @user.tipo %>
<div class="row">
<div class="four columns">
  <%= link_to image_tag("shoppings.jpg"), admins_shoppings_url %>
  <p></p>
</div>
  
</div>
<% end %>
</section>




