<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><span class="text"><h1>Gestão</h1></span></div> 
            
		 	</div>
		 </div>
   


<div class="row">
   <div class="twelve columns"> 
   <center>
<div class="six columns">
  <%= link_to image_tag("shoppings.jpg", :height => "450px"), admins_shoppings_url %>
  <p></p>
</div>
</center>
<% if @current_admin.tipo == 0 %>
<div class="six columns">
  <%= link_to image_tag("utilizadores.jpg", :height => "450px"), admins_users_url %>
  <p></p>
</div>
<% end %>
</div>

</div>

</section>




