
<section>
		 <div class="row">
      <div class="twelve columns"> 
         <%= link_to 'Gestão de Shoppings', admins_shoppings_url, :class => "nice small radius blue button" %>
            
		 	</div>
		 </div>
    
</section>



