<%=render "shared/shopping_list" %>



<section>
		 <div class="row">
      <div class="twelve columns"> 
            <%= link_to 'Adicionar Shopping', new_shopping_path, :class => "nice small radius blue button"  %>
            <br><br>
            <%= link_to 'Voltar', admins_index_path, :class => "nice small radius blue button"  %>
		 	</div>
		 </div>
    
</section>

