<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><span class="text"><h1>Pesquisa</h1></span></div> 
            
		 	</div>
		 </div>
   
    <div class="row">
<div class="four columns">
  <%= link_to image_tag("shoppings.jpg"), search_shoppings_url %>
  <p></p>
</div>
<div class="four columns">
  <%= link_to image_tag("http://placehold.it/400x600") %>
  <p></p>
</div>
<div class="four columns">
  <%= link_to image_tag("http://placehold.it/400x600") %>
  <p></p>
</div>

</div>
</section>