<section>
		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><h1>Resultados</h1></div>      
		 	</div>
		 </div>
<% if @lojas != nil && @lojas.count > 0 %>
   <div class ="row">
    <div class = "twelve columns">
    <table>
   <tr>
     <th>Nome</th>
     <th>Telefone</th>
     <th>Detalhes</th>
     <th>Tags</th>
   </tr>
 
 <% @lojas.each do |loja| %>
   <tr>
     <td><%= loja.nome %></td>
     <td><%= loja.telefone %></td>
     <td><%= truncate loja.detalhes, :length => 50 %></td>
     <td><%= loja.tags %></td>
   </tr>
   </table>
  
    </div>
  </div>
 <% end %>
<%end %>
</section>
