<% if @lojas != nil && @lojas.count > 0 %>
<section>
  
  		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><h1>Resultados</h1></div>      
		 	</div>
		 </div>
      
<% shopping_actual = "" %> 
<% @lojas.each do |loja| %>

      <% if loja.shopping_nome != shopping_actual %>
      
       <% reset_cycle("rows") %>
      
      <div class="row">
      <div class="twelve columns">
      <div class="underline"><h3>Lojas do <%= loja.shopping_nome%></h3></div>
      </div>
      
      <% shopping_actual = loja.shopping_nome %>  
      <% end %>
            
<%= cycle("</div><div class='row'>","","","","",:name => "rows").html_safe %>
<div class="two columns">
  <%= link_to image_tag(loja.imagem, :height => "100px"), shopping_loja_path(loja[:shopping_id], loja) %>
  <p></p>
</div>
<% end %>
</div>
</section>

<%else %>

		 <div class="row">
      <div class="twelve columns"> 
           <div class="underline"><h1>Resultados</h1></div> 
        <div class="underline"><h2>Não foram encontradas lojas...</h2></div> 
      </div>
		 </div>
</section>


<%end %>
