<section>
		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><h1>Resultados</h1></div>   

		 	</div>
		 </div>
<% if @lojas != nil && @lojas.count > 0 %>

<% @lojas.each do |loja| %>
   <div class ="row">
    <div class = "twelve columns">
        <div class="underline"><h1>Lojas do <%= loja.shopping_nome %></h1></div> 
         	</div>
		 </div>
<%= cycle("</div><div class='row'>","","").html_safe %>
<div class="four columns">
  <%= link_to image_tag(loja.imagem), shopping_loja_path(@shopping, loja) %>
  <p></p>
</div>

</div>
</section>
 <% end %>
<%end %>
</section>
