<section>
		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><span class="text"><h1>Resultados</h1></span></div>      
            
		 	</div>
		 </div>
    
</section>

<%= render "shared/shopping_list" %>
