<footer class="footer">
  <section>
    <div class="row">
      <div class="twelve columns"> 
        <p class="pull-right"><a href="#">Voltar a cima ^</a></p>
        <p>
         O BubbleSpot é uma base de dados centralizada com informações úteis relativas a centros comerciais. </br>
        Desenvolvido em 2011, na Faculdade de Engenharia da Universidade do Porto. 
        </br>
        Todos os direitos reservados.
        </p>
      </div>
    </div>
    </sector>
</footer>