<hr> 
<footer class="row">
	    <section class="five columns">
	      <h6><strong>Desenvolvido por BubbleSpot</strong></h6>

        <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, an <a href="http://www.zurb.com/words/design-process">interaction design and strategy company</a> located in Campbell, California. We've put over 10 years of experience building web products, services and websites into this framework. <a href="../about.php">Foundation Info and Goodies →</a></p>
	    </section>
	    
      <section class="three columns">
	    </section>
	    
	    <section class="four columns">
	      <h6><strong>Precisa de ajuda?</strong></h6>
	      <p>Para perguntas rápidas ou ajuda, <a href="mailto:bubblespot@gmail.com">envie-nos um e-mail →</a></p>
	      
	      <ul class="block-grid three-up">
	      	<li>
		      <!-- Place this tag where you want the +1 button to render -->

				<div style="height: 20px; width: 90px; display: inline-block; text-indent: 0pt; margin: 0pt; padding: 0pt; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline;" id="___plusone_0"><iframe allowtransparency="true" hspace="0" id="I1_1319808320845" marginheight="0" marginwidth="0" name="I1_1319808320845" src="https://plusone.google.com/u/0/_/+1/fastbutton?url=http%3A%2F%2Ffoundation.zurb.com%2Fdocs%2Fforms.php&amp;size=medium&amp;count=true&amp;annotation=&amp;hl=en-US&amp;jsh=r%3Bgc%2F24805178-fa62ba1b#id=I1_1319808320845&amp;parent=http%3A%2F%2Ffoundation.zurb.com&amp;rpctoken=174886184&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe" style="position: static; left: 0pt; top: 0pt; width: 90px; margin: 0px; border-style: none; height: 20px; visibility: visible;" tabindex="-1" vspace="0" title="+1" frameborder="0" scrolling="no" width="100%"></iframe></div>
				
				<!-- Place this render call where appropriate -->
				<script>
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
			<li>
			
	      		<iframe allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=bubblespot" style="width: 80px; height: 20px;" frameborder="0" scrolling="no"></iframe>
			</li>

			<li>
				<iframe src="http://www.facebook.com/plugins/like.php?app_id=280142655337677&amp;href=bublespot.heroku.com&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" style="border: medium none; overflow: hidden; width: 90px; height: 21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
			</li>
		</ul></section></footer>