<% if @shoppings != nil && @shoppings.count > 0 %>
  <section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h1>Shoppings</h1></div>   
          </div>
    
<% @shoppings.each do |shopping| %>

<%= cycle("</div><div class='row'>","","").html_safe %>
<div class="four columns">
  <%= link_to image_tag(shopping.imagem), shopping %>
  <p></p>
</div>
<% end %>
</div>
</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><span class="text"><h2>Não existem shoppings..</h2></span></div> 
		 	</div>
		 </div>
</section>


<%end %>