
<% if @eventos_semana != nil && @eventos_semana.count > 0 %>
  <section>
    <% shopping_actual = "" %> 
    <div class="row">
    <div class="twelve columns"> 
    <% if @p == 1%>
    <div class="underline"><h3>Esta semana</h3></div> 
    <% elsif @p == 2%>
    <div class="underline"><h3>Próxima semana</h3></div> 
    <% elsif @p == 3%>
    <div class="underline"><h3>Este mês</h3></div> 
    <% elsif @p == 4%>
    <div class="underline"><h3>Todos os eventos</h3></div> 
    <% end %>
    </div> 
    </div> 
    <% @eventos_semana.each do |evento_semana| %>
    
     <% if evento_semana.shopping_nome != shopping_actual %>
      
       <% reset_cycle("rows") %>
      
     <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h4><%= evento_semana.shopping_nome %></h4></div>   
      </div>
    <% shopping_actual = evento_semana.shopping_nome %>  
      <% end %>
    
      <%= cycle("</div><div class='row'>","","","",:name => "rows").html_safe %>
      <div class="three columns">
         
        <%= link_to image_tag(evento_semana.imagem, :height => "200px"), shopping_evento_path(evento_semana.shopping_id, evento_semana) %>
          <p><%= evento_semana.nome%></p>
        
        <p></p>
      </div>
    <% end %>

</div>

</section>
<%else%>
<section>
<div class="row">
<div class="underline"><h2>Não há eventos...</h2></div> 
</div>
</section>
<%end %>

