<section>
		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><h1>Editar evento</h1></div>      
         <%= render 'form' %>
		 	</div>
		 </div>
   
</section>
