<% if @promos != nil && @promos.count > 0 %>
<section>
      
<% loja_actual = "" %> 
<% @promos.each do |promo| %>

      <% if promo.loja_id != loja_actual %>
      
       <% reset_cycle("rows") %>
      
      <div class="row">
      <div class="twelve columns">
      <div class="underline"><h3>Promoções da <%= promo.loja_nome %></h3></div>
      </div>
      
      <% loja_actual = promo.loja_id %>  
      <% end %>
            
<%= cycle("</div><div class='row'>","","",:name => "rows").html_safe %>
<div class="four columns">
<center>
  <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(promo.shopping_id, promo.loja_id, promo) %>
   <p><%= promo.produto%></p>
  </center>
  <p></p>
</div>
<% end %>
</div>
</section>

<%else %>

		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não foram encontradas promoções..</h2></div> 
      </div>
		 </div>
</section>


<%end %>