
<% if @promos != nil && @promos.count > 0 %>
  <section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h1>Promoções da loja <%= @loja.nome %></h1></div>   
        <p></p>
          </div>
    
<% @promos.each do |promo| %>

<%= cycle("</div><div class='row'>","","").html_safe %>
<div class="four columns">
   <center>
  <%= link_to image_tag(promo.imagem), shopping_loja_promo_path(@shopping, @loja, promo) %>
    <p><%= promo.produto%></p>
  </center>
  <p></p>
</div>
<% end %>


</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não existem promoções..</h2></div> 
      </div>
		 </div>

</section>


<%end %>

