<h1>New promo</h1>

<% @shopping.nome %>

<%= form_for([@shopping, @loja, @promo]) do |f| %>
  
  <div class="field">
    Nome
    <%= f.text_field :detalhes, :class => "large input-text" %>
  </div>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', shopping_loja_promos_path(@loja) %>
