/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/

.navigation ul {

  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  margin: 0;
  padding: 0; 
  list-style-type: none;
  max-width: 980px;
min-width: 727px;
margin: 0 auto;

}

.navigation ul li { display: inline; }

.navigation ul li:before {
	content: "\00BB \0020";
	}
  
.navigation {

width: 100%; 

margin-top: -31px;
height:25px;
background-color: #EEEEEE;
position: fixed;
padding-top: 5px;
left: 0;
z-index: 10000;
}
