<div class="hide-on-phones">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.homes      "Home", root_path %>
       <%= tab.home "Contactos", contactos_url %>
       <% end %> 
    </div>
    </div>
<section>
<div class="row">
<div class="underline"><h2>Contactos</h2></div>
<p><p>
</div>
<div class="row">
<div class="six columns">
<div class="underline">
<h3>Equipa de desenvolvimento</h3>
</div>
<p><p><p><p>
<h5>Hélder Alexandre dos Santos Moreira </h5>
<h6>heldersantosmoreira at gmail dot com</h6><p>

<h5>Carlos Tiago da Rocha Babo </h5>
<h6>tiagobabo at gmail dot com</h6><p>

<h5>Felipe de Souza Schmitt </h5>
<h6>fsschmitt at gmail dot com</h6><p>

<h5>Bruno Filipe Neves Ferreira </h5>
<h6>brunofnferreira at gmail dot com</h6><p>

<h5>André Gonçalves Dias </h5>
<h6>andregdias at gmail dot com</h6><p>
<p><p><p><p>
<div class="underline">
<h3>E-mail</h3>
</div>
<h5>bubblespot2011 at gmail dot com</h5>

</div>

<div class="six columns">
<%= link_to image_tag("bubble.png", :width => "400px"), root_url %>
</div>
</div>
</section>
