
<div class="show-on-desktops">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.shopping      "Shoppings", shoppings_path %>
       <% end %> 
    </div>
    </div>
<%=render "shared/shopping_list" %>
