
<section>
		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><span class="text"><h1>Novo shopping</h1></span></div>    
        <%= render 'form' %>
        <%= link_to 'Voltar', :back, :class => "nice small radius blue button" %>
		 	</div>
		 </div>
    
</section>








